<% @shopcategories.each do |shopcategory| %> <!-- begin category wrapper -->
<div class="categorywrapper">
	<h2 id="categoryname"><%= shopcategory.name %></h2>
	<div class="post">
		<!-- begin post -->
		<div class="thumb">
			<a href="http://all-free-download.com/free-website-templates/"><%= image_tag('thumb1.jpg') %></a>
		</div>
		<h2><a href="http://all-free-download.com/free-website-templates/">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
		<p class="date">
			Posted on January 7, 2008 by admin
		</p>
		<p>
			Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.
		</p>
		<a class="continue" href="http://all-free-download.com/free-website-templates/">Continue Reading</a>
	</div>
	<!-- end post -->
	<!-- begin post -->
	<div class="post">
		<div class="catehighlight">
			<a href="#"><%= image_tag('_thumb2.jpg', class: "smallthumb") %></a>
			<h4><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h4>
		</div>
		<div class="clearhighlight"></div>
		<div class="catehighlight">
			<a href="#"><%= image_tag('_thumb2.jpg', class: "smallthumb") %></a>
			<h4><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h4>
		</div>
		<div class="clearhighlight"></div>
		<div class="catehighlight">
			<a href="#"><%= image_tag('_thumb2.jpg', class: "smallthumb") %></a>
			<h4><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h4>
		</div>
		<div class="clearhighlight"></div>
		<div class="catehighlight">
			<a href="#"><%= image_tag('_thumb2.jpg', class: "smallthumb") %></a>
			<h4><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h4>
		</div>
		<div class="clearhighlight"></div>
		<a class="continue" href="#">View alls</a>
	</div>
	<!-- end post -->
</div>
<!-- end category wrapper -->
<% end %>
<!-- begin post navigation -->
<div class="postnav">
	<ul>
		<li>
			<a href="http://all-free-download.com/free-website-templates/">1</a>
		</li>
		<li>
			<a href="http://all-free-download.com/free-website-templates/">2</a>
		</li>
		<li>
			<a href="http://all-free-download.com/free-website-templates/">&raquo;</a>
		</li>
	</ul>
	<div class="break"></div>
</div>
<!-- end post navigation -->

