<button id="hidebox">
	Click để ẩn
</button>
<button id="showbox">
	Click để hien
</button>
<div id="ibox"></div>

<button id="countli">
	Click để dem li
</button>

<button id="addli">
	Click để them lid
</button>

<button id="deleteli">
	Click để xoa
</button>

<ul id="themxoa">
	<li>
		list 1
	</li>
	<li>
		list 2
	</li>
	<li>
		<a href="#" title="not title">list 3</a>
	</li>
	<li>
		list 4
	</li>
	<li>
		<a href="#" title="title">list 5</a>
	</li>
	<li>
		list 6
	</li>
	<li>
		list 7
	</li>
</ul>

<button id="bttoggle">
	Click xem toggle
</button>

<p class="selected">
	phương thức toggle() và toggleClass()
</p>

<div id="accordiondemo">
	<h3>Tiêu đề accordion</h3>
	<div class="accordion">
		nội dung bên trong accordion
	</div>
	<h3>Tiêu đề accordion</h3>
	<div class="accordion">
		nội dung bên trong accordion
	</div>
	<h3>Tiêu đề accordion</h3>
	<div class="accordion">
		nội dung bên trong accordion
	</div>
</div>

<div id="slideshow">
	<table>
		<tr>
			<td><%= link_to (image_tag "thumb1.jpg"), "#" %></td>
			<td><%= link_to (image_tag "_thumb2.jpg"), "#" %></td>
			<td><%= link_to (image_tag "_thumb3.jpg"), "#" %></td>
			<td><%= link_to (image_tag "_thumb4.jpg"), "#" %></td>
			<td><%= link_to (image_tag "_thumb5.jpg"), "#" %></td>
		</tr>
	</table>
</div>