<% if @news %>
<div class="catehighlight">
	<a href="<%= news_path(@news) %>"><%= image_tag(@news.avatar_url, class: "smallthumb") %></a>
	<h4><a href="<%= news_path(@news) %>"><%= @news.title %></a></h4>
	<p class="date">
		<%= @news.created_at %>
	</p>
</div>

<% end %>
