<%= form_for @category do |f| %>

<table class = "category_form">
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td><%= f.label :description %></td>
		<td><%= f.text_field :description %></td>
	</tr>
	
	<tr>
		<td colspan="2"><%= f.submit @category.new_record? ? "Create" : "Update"%></td>
	</tr>
</table>

<% end %>