<div id="wrapper">
	<!-- BEGIN header -->
	<div id="header">
		<ul>
			<li class="f">
				<%= link_to 'Home', root_path %>
			</li>
			<li>
				<%= link_to 'About Us', about_path %>
			</li>

			<li>
				<%= link_to 'Contact Us', contact_path %>
			</li>
			<li>
				<%= link_to 'My study', study_path %>
			</li>
		</ul>
		<p class="links">

			<% if user_signed_in? %>
			Welcome: <strong><%= current_user.email %></strong>.
			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</p>
		<div class="break"></div>
		<div class="logo">
			<h1><a href="http://all-free-download.com/free-website-templates/">The Web News</a></h1>
			<p>
				Free CSS Template
			</p>
		</div>
		<div class="ad468x60">
			<%= link_to image_tag('ad468x60.gif'), "#"%>
		</div>
		<div class="break"></div>
		<div id="menu">
			<ul class="menu">
				<li>
					<a href="<%= root_path %>" class="parent"><span>Home</span></a>

				</li>
				<li>
					<a href="#" class="parent"><span>Shops</span></a>
					<div>
						<ul>
							<% ShopCategory.order(:name).all.each do |category| %>
							<li>
								<a href="<%= shopindex_path %>"><span><%= category.name %></span></a>

							</li>
							<% end %>
						</ul>
					</div>
				</li>
				<li>
					<a href="#"><span>Help</span></a>
				</li>
				<li>
					<a href="#"><span>Contacts</span></a>
				</li>
				<% if user_signed_in? %>
				<li>
					<span>Management</span>
					<div>
						<ul>
							<li>
								<a href="#" class="parent"><span>Account management</span></a>
								<div>
									<ul>
										<li>
											<%= link_to "Accounts", users_path%>
										</li>
										<li>
											<%= link_to "New account", new_user_path%>
										</li>
									</ul>
								</div>
							</li>
							
							<li>
								<a href="#" class="parent"><span>Shops management</span></a>
								<div>
									<ul>
										<li>
											<%= link_to "Shops", shops_path%>
										</li>
										<li>
											<%= link_to "New shop", new_shop_path%>
										</li>
										<li>
											<%= link_to "Shop categories", shop_categories_path%>
										</li>
										<li>
											<%= link_to "New shop category", new_shop_category_path%>
										</li>
									</ul>
								</div>

							</li>
							
							<li>
								<a href="#"><span>Sub Item 3</span></a>
							</li>

						</ul>
					</div>
				</li>
				<li>
					<a href="<%= user_path(current_user) %>"><span>Profile</span></a>
				</li>
				<% end %>
			</ul>

		</div>

		<div class="break"></div>
	</div>
	<!-- END header -->
	<!-- BEGIN content -->
	<div id="content">
