<div id="wrapper">
	<!-- BEGIN header -->
	<div id="header">
		<ul>
			<li class="f">
				<%= link_to 'Home', root_path %>
			</li>
			<li>
				<%= link_to 'About Us', about_path %>
			</li>

			<li>
				<%= link_to 'Contact Us', contact_path %>
			</li>
			<li>
				<%= link_to 'My study', study_path %>
			</li>
		</ul>
		<p class="links">

			<% if user_signed_in? %>
			Welcome: <strong><%= current_user.email %></strong>.
			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</p>
		<div class="break"></div>
		<div class="logo">
			<h1><a href="<%= root_path %>">BETOWAKARU</a></h1>
			<p>
				Viet Nam Infor
			</p>
		</div>
		<div class="ad468x60">
			<%= link_to image_tag('ad468x60.gif'), "#"%>
		</div>
		<div class="break"></div>
		<%= render('layouts/menu') %>
		<div class="break"></div>
	</div>
	<!-- END header -->
	<!-- BEGIN content -->
	<div id="content">
